{%extends 'core/base.html'%}
{%load static%}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
    

{% block content %}
<div class="about-container">
    <h1>About Glossy Lips by Achiaa</h1>
    <p>Welcome to Glossy Lips by Achiaa, where your lips take center stage. Our brand is dedicated to enhancing your natural beauty with a touch of elegance and a dash of glamour. At Glossy Lips by Achiaa, we believe that every smile deserves to shine bright, and every lip deserves to be pampered.</p>
    <p>Our products are meticulously crafted with high-quality ingredients to ensure that your lips are not only beautifully glossy but also nourished and hydrated.</p>
    <p>Whether you're looking for a subtle shimmer for everyday wear or a bold, dazzling gloss for a special occasion, we have the perfect product to make your lips look and feel fabulous.</p>
    <p>We pride ourselves on our commitment to quality, innovation, and customer satisfaction. Our glosses come in a variety of shades and finishes to suit every mood and style, from sheer and natural to rich and vibrant. Each product is designed to provide long-lasting shine and comfort, so you can confidently express yourself with every swipe.</p>
    <p>Join us on our journey to celebrate beauty, confidence, and individuality. With Glossy Lips by Achiaa, every day is an opportunity to shine.</p>
</div>
{% endblock content %}
    